.container {
  width: 1200px;
  margin: 0 auto;
}

.content_container {
  flex-direction: column !important;
}

.main_content {
  padding: 10px !important;
  background-color: rgb(238, 241, 246) !important;
  height: 100%;
}

.menu_content {
  z-index: 11 !important;
  background-color: #1A232F !important;
  width: 284px !important;
}

.el-button {
  height: 36px;
  font-size: 14px !important;
  border-radius: 5px;
}

.el-button--default {
  border: 1px solid @theme_color;
}

// 覆盖form
.form_wrap {
  .form_space {
    padding-right: 85px;
    padding-top: 48px;
    padding-left: 32px;
    .title {
      padding-top: 48px;
      font-size: 14px;
      color: #888;
      padding-bottom: 41px;
    }
    .tab_bar {
      display: inline-block;
      margin-bottom: 32px;
      .tab_item {
        display: inline-block;
        padding: 0 25px;
        height: 30px;
        line-height: 30px;
        color: #888888;
        font-size: 16px;
        text-align: center;
        background-color: #F5F5F5;
        border-radius: 15px;
        cursor: pointer;
      }
      .tab_item.active {
        color: @primary_color;
        background-color: #E4EEFB;
      }
    }
  }
  .footer {
    padding: 88px 0 28px;
    text-align: center;
  }
  .el-input__inner, el-input--suffix {
    height: 36px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0 18px;
  }
  .el-select {
    width: 100%;
    .el-input--suffix {
      .el-input__inner {
        background-color: #f5f5f5;
      }
    }
  }
  .el-range-editor {
    width: 100%;
    background-color: #f5f5f5;
    .el-range-input {
      background-color: #f5f5f5;
    }
  }
  .labels {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    height: 36px;
    background-color: #eee;
    border-radius: 5px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-right: 10px;
    .close {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      background: url("../images/close@2x.png") center no-repeat;
      background-size: contain;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }
  }
  .add {
    display: inline-block;
    font-size: 14px;
    color: @theme_color;
    margin-left: 25px;
    cursor: pointer;
  }
  .el-form-item {
    margin-bottom: 35px;
  }
  .el-button {
    height: 36px;
    font-size: 14px;
    color: @theme_color;
    i {
      margin-right: 10px;
    }
  }
  .el-button--primary {
    color: #fff;
    margin-right: 48px;
  }
  .el-cascader {
    width: 100%;
    .el-input__inner {
      background-color: #f5f5f5;
    }
  }
  .confirm_code {
    position: absolute;
    top: -2px;
    right: 18px;
    font-size: 14px;
    color: @theme_color;
    line-height: 46px;
    cursor: pointer;
  }
  .avatar-uploader .el-upload {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 40px;
    color: #DCDCDC;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
}

.toolbar {
  padding: 40px 32px;
  .pagination {
    float: right;
  }
  .el-input {
    display: inline-block;
    width: auto;
    margin-right: 62px;
    .el-input__inner {
      width: 300px;
      height: 40px;
      border: 1px solid #eee;
    }
  }
  .el-input--suffix {
    .el-input__inner {
      width: 120px;
      height: 40px;
      border: 0;
    }
  }
  .right_panel {
    display: inline-block;
    float: right;
  }
  .el-button {
    height: 40px;
    font-size: 14px;
    border: 1px solid #eee;
    i {
      margin-right: 10px;
    }
  }
  .checkbox {
    display: inline-block;
    .tick {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid #aaa;
      border-radius: 2px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      .icon_tick {
        display: inline-block;
        width: 12px;
        height: 8px;
        background: url("../images/choice@2x.png") center no-repeat;
        background-size: contain;
        margin-bottom: 1px;
      }
    }
    .auto_login {
      font-size: 14px;
      color: #333;
      margin-left: 15px;
      vertical-align: middle;
    }
  }
}

// 覆盖table样式
.table {
  padding: 0 32px 32px;
  .el-table th {
    background-color: #f8f8f8 !important;
  }
  .has-gutter {
    th {
      background-color: #f8f8f8 !important;
      border: 0 !important;
      .cell {
        color: #333;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  .el-table__row--striped {
    background-color: #f8f8f8;
  }
  .el-table__row {
    td {
      border: 0;
      .cell {
        font-size: 14px;
        color: #333;
        .img_box {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          overflow: hidden;
          img {
            width: 40px;
            vertical-align: middle;
          }
        }
        .action_bar {
          position: relative;
          .action_btn {
            display: inline-block;
            padding: 0 15px;
            color: @theme_color;
            font-size: 14px;
          }
          .success {
            color: #23C467;
          }
          .error {
            color: #D9472E;
          }
          .split {
            display: inline-block;
            content: '';
            width: 1px;
            height: 14px;
            margin-top: 2px;
            background-color: #e5e5e5;
            right: 50%;
          }
        }
      }
    }
  }
  .action {
    .el-input__inner {
      border: 0;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

// 覆盖分页样式
.pagination {
  .el-pagination {
    .btn-prev, .btn-next, .more {
      height: 26px;
      background-color: #fff !important;
      border: 1px solid #eee !important;
    }
    .btn-next {
      margin-right: 0;
    }
    .el-pager {
      .number {
        height: 26px;
        border: 1px solid #eee;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 14px;
        font-weight: normal;
      }
      .active {
        border: 1px solid @theme_color;
      }
    }
  }

}

// 覆盖modal
.modal {
  .el-dialog{
    border-radius: 5px;
    overflow: hidden;
    .el-dialog__header {
      border-bottom: 1px solid #eee;
      padding: 18px 29px;
      .el-dialog__title {
        color: #333;
      }
      .el-dialog__headerbtn .el-dialog__close {
        color: #333;
        font-weight: bold;
      }
    }
    .el-dialog__body {
      padding: 45px 29px;
    }
    .el-dialog__footer {
      height: 50px;
      height: 100%;
      box-sizing: border-box;
      padding: 0;
      .btn {
        display: inline-block;
        width: 50%;
        float: left;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        cursor: pointer;
      }
      .btn_cancel {
        background-color: #eee;
        color: #666;
      }
      .btn_ok {
        background-color: @primary_color;
        color: #fff;
      }
    }
  }

}
