.discount_wrap {
  background-color: #fff;
  min-height: 100%;
  box-sizing: border-box;
  .form_wrap {
    padding: 54px 0;
    .el-date-editor,.el-input {
      width: 503px!important;
      .el-input__inner {
        width: 100%;
      }
    }
  }
}
