.merchant_wrap {
  background-color: #F5F5F5;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 37px;
  .banner {
    height: 120px;
    line-height: 120px;
    background: url("../images/top_bg@2x.png") center no-repeat;
    background-size: cover;
  }
  .steps {
    padding-top: 55px;
    li {
      position: relative;
      float: left;
      width: 25%;
      height: 77px;
      line-height: 77px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      .badge {
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 18px;
        color: #333;
        left: 31px;
        top: -15px;
        background-color: #fff;
      }
    }
    li:nth-child(odd) {
      background: url("../images/label1@2x.png") center no-repeat;
      background-size: contain;
      .badge {
        border: 2px solid #92B5E1;
      }
    }
    li:nth-child(even) {
      background: url("../images/label2@2x.png") center no-repeat;
      background-size: contain;
      .badge {
        border: 2px solid #B4C7DF;
      }
    }
  }
  .entry_form_panel {
    background-color: #fff;
    margin-top: 37px;
    box-sizing: border-box;
    .head {
      height: 70px;
      line-height: 70px;
      border-bottom: 1px solid #F5F5F5;
      padding: 0 80px;
      box-sizing: border-box;
      .item {
        position: relative;
        display: inline-block;
        padding-right: 63px;
        color: #666;
        font-size: 16px;
        cursor: pointer;
      }
      .item.active {
        color: @theme_color;
        .line {
          position: absolute;
          display: inline-block;
          background-color: @theme_color;
          width: 47px;
          height: 2px;
          content: ' ';
          left: 8px;
          bottom: 0;
        }
      }
    }
    .body {
      padding: 66px 293px;
      .body_item {
        padding-left: 120px;
        .tick {
          display: inline-block;
          width: 16px;
          height: 16px;
          border: 1px solid #aaa;
          border-radius: 2px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          .icon_tick {
            display: inline-block;
            width: 12px;
            height: 8px;
            background: url("../images/choice@2x.png") center no-repeat;
            background-size: contain;
            margin-bottom: 1px;
          }
        }
        .auto_login {
          font-size: 14px;
          color: #333;
          margin-left: 15px;
          vertical-align: middle;
        }
      }
      .btn_panel {
        text-align: center;
        padding-top: 84px;
        .el-button {
          width: 204px;
        }
      }
    }
  }
}
